<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="games.tomcat.ballrollergame1">

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_icon"
        android:label="Stairway To Heaven"
        android:roundIcon="@drawable/ic_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:configChanges="orientation"
            android:label="Stairway To Heaven"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="Stairway To Heaven"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LeaderboardMenu"
            android:configChanges="orientation"
            android:label="Stairway To Heaven"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>